body{
  
  <audio hidden="" autoplay="autoplay" loop="loop" controls="controls">
  <source src="https://www.dropbox.com/s/xksuenu5xsmm3lo/UH%20OH%20TOWN.mp3?dl=1" type="audio/mpeg" />
Your browser does not support the audio element.</audio>
  
  background-color:#2e2e2e;
  color: #dedede;
  image-rendering: -webkit-optimize-contrast;
}
#canv{
  background: linear-gradient(
  );
}
